::-webkit-scrollbar {
    width: 0.4em;
    height: 0.8em;
    background-color: transparent;
    cursor: pointer
}

::-webkit-scrollbar:hover {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    min-height: 0.8em;
    min-width: 1em;
    background-color: #2a2d31;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #171a1a
}

::-webkit-scrollbar-thumb:active {
    background-color: #2a2d31
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

[data-bs-theme=dark] {
    --bs-light-rgb: 59, 66, 72;
    --bs-body-bg: #1e1e1e;
    --bs-link-color-rgb: 232, 232, 232;
    --bs-link-color: 232, 232, 232;
    --bs-link-hover-color-rgb: 194, 194, 194;
    --bs-body-color: #f2f2f2;
    --bs-secondary-color: #adb5bd;
    --lhc-page-content-wrapper-bg: none;
    --lhc-dashboard-card-header-bg: none;
    --lhc-main-menu-link-hover: var(--bs-link-hover-color-rgb);
    --lhc-main-menu-link: #e8e8e8;
    --lhc-nav-underline-nav-link: #adb5bd;
    --lhc-nav-underline-nav-link-active-border: #63676b;
    --lhc-msg-body-response: #3c3c3e;
    --lhc-sidebar-li-active-link-bg: rgb(196, 218, 83, 5%);
    ;
    --lhc-sidebar-li-border-bottom: #2e2e2e;
    --lhc-sidebar-wrapper-br: #63676b;
    --accent-color: #c4da53;
    --hover-accent: #a4b745;

    --font-family: "Inter";
}

.btn-secondary {
    --bs-btn-color: black !important;
    transition: 0.3s;
}

.btn-secondary:hover {
    transition: 0.3s;
}

.col-form-label {
    color: white !important;
}

body {
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    font-family: var(--font-family);
}

div.message-admin div.msg-body {
    background-color: #3d4321 !important;
    color: white !important;
}

.msgBlock-admin {
    height: 200px;
    min-height: 200px;
    background-image: none;
    background-color: #1e1e1e;
    border-radius: 15px !important;
}

.message-container-admin {
    background-color: #212121;
}

.msg-date {
    color: #e7e7e7 !important;
}

.bg-warning {
    background-color: var(--accent-color) !important;
    color: black !important;
}

.sys-tit {
    color: #c4da53 !important;
    font-style: normal !important;
}

.visitor-chat-id {
    color: white;
}

.visitor-name {
    color: white;
}

.visitor-ipaddr {
    color: white;
}

.chat-action:hover {
    background-color: var(--accent-color);
    transition: 0.3s
}

.chat-action:hover .accent-svg {
    fill: black !important;
    transition: 0.3s
}

.chat-tab-active {
    background-color: rgb(196, 218, 83, 5%) !important;
}

.additional-title-container {
    background-color: #1e1e1e;
}

.additional-box {
    border-color: #2e2e2e;
}

a {
    color: white;
}

.op-tit {
    color: var(--accent-color) !important;
    fill: var(--accent-color) !important
}


.last-user-msg {
    background-color: #2a2d31 !important;
    color: white !important;
    border-color: #2a2d31 !important;
}

.bg-light {
    background-color: #1e1e1e !important;
}

.topmenu-div {
    background-color: #1e1e1e !important;
}

.sidebar-class {
    background-color: #1e1e1e !important;
    border-right: 2px solid #2e2e2e !important;
}

.global-search {
    border-color: #2e2e2e !important;
    background-color: transparent;
    color: white !important;
}

.border-bottom {
    border-color: #2e2e2e !important;
}

.border-right {
    border-color: #2e2e2e !important;
}

.border-top {
    border-color: #2e2e2e !important;
}

.border-left {
    border-color: #2e2e2e !important;
}

.sys-tit {
    background-color: transparent;
    color: #d4d0d0;
    font-style: normal !important;
}

.nav {
    --bs-nav-link-hover-color: #c2c2c2;
}

.nav-pills {
    --bs-nav-pills-link-active-bg: #1e2125;
}

.btn-light {
    --bs-btn-color: #ababab !important;
    --bs-btn-active-color: #fff !important;
    --bs-btn-hover-color: #fff !important;
    transition: 0.3s;
}

.btn-light {
	background-color: #3e3e3e !important;
	border-color: #2e2e2e !important;
}

.btn-light:active {
    background-color: #3e3e3e !important;
    transition: 0.3s;
    border-color: transparent !important;
}

.btn-block-department .btn-light:not(:disabled):not(.disabled).active,
.btn-block-department.show>.btn-light.dropdown-toggle,
.form-control.btn-light,
.btn-block-department .btn-light {
    background-color: #2e2e2e;
    border: 1px solid transparent;
}

.dashboard-panels .form-control.btn-light,
.dashboard-panels .btn-block-department .btn-light:not(:disabled):not(.disabled).active,
.dashboard-panels .btn-block-department.show>.btn-light.dropdown-toggle,
.dashboard-panels .btn-block-department .btn-light,
.card-dashboard .form-control,
.card-dashboard .btn-secondary,
.card-dashboard .btn-block-department .btn-light:not(:disabled):not(.disabled).active,
.card-dashboard .btn-block-department.show>.btn-light.dropdown-toggle,
.card-dashboard .btn-block-department .btn-light {
    background-color: #2e2e2e;
    border: 1px solid transparent;
}

.btn-block-department label:hover {
    background-color: #495057;
}

.exp-cntr {
    color: var(--accent-color);
    background-color: transparent;
    border: 0px solid transparent;
    border-radius: 15px;
}

.exp-cntr:hover {
    background-color: inherit;
}

.chat-tabs-row:not(.chat-tab-active):hover,
.list-chat-table>tbody>tr:hover>td {
    background-color: #2a2d31 !important;
}

.form-control:active,
.form-control:focus,
.form-control {
    font-family: var(--font-family)
}

.login-input {
    font-family: var(--font-family);
    color: black;
}

.chat-tab-active {
    background-color: rgb(196, 218, 83, 5%)
}

.chat-tabs-row:not(.chat-tab-active):hover,
.list-chat-table>tbody>tr:hover>td {
    background-color: rgb(196, 218, 83, 10%) !important;
}

.canned-suggester,
.nav-pills>li>a:hover {
    background-color: #2a2d31;
}

.canned-list li.current-item a,
.current-hash-content li.current-item,
.canned-list a:hover {
    background-color: #676a6e;
}

.nav-pills>li>a {
    border: 1px solid #545454 !important;
}

div.whisper-msg div.msg-body {
    background-color: #767676 !important;
}

div.whisper-msg span.op-tit {
    color: #767676 !important;
}

div.message-row-typing div.msg-body {
    background-color: #d0d0d0;
    color: #000 !important;
}

.msg-date-op,
.msg-date-vi {
    background: #2e2e2e;
    border: 1px solid #323232;
    color: #9c9c9c !important;
    display: none !important;
}


.reactions-toolbar {
    background: #9ea5ad;
}

.long-response-chat {
    background: #440d0e !important;
}

.online_user {
    background-color: #314a2d !important;
}

.edit-mode {
    background-color: #000000 !important;
}

.nav-underline a.nav-link.active {
    border-bottom: 3px solid var(--accent-color);
}

.icon-user-online,
.icon-user-online a {
    color: #509646;
}

.user-online-row td {
    transition: 0.3s;
    background-color: #314a2d !important;
}

.user-online-row:hover td {
    transition: 0.3s;
}

@media (max-width: 1200px) {

    .chat-main-left-column.col-xl-8 .toolbar-chat,
    .chat-main-left-column.col-xl-8 .form-send-textarea,
    .dashboard-height .chat-main-left-column.col-xl-8 .message-block,
    .chat-main-left-column.col-xl-8 .canned-message-holder {
        display: none !important;
    }

    .dashboard-height .chat-main-left-column.col-xl-8 {
        height: 0px;
    }

    .chat-main-right-column {
        height: 98%;
    }

    .small-truncate-nick {
        overflow: hidden;
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.text-dark {
    color: white !important
}

.topmenu-div {
    background-color: #1e1e1e;
}

.ps-1 {
    padding: 0px !important;
}

.profile-username {
    color: white;
}

.small-truncate-nick {
    width: 150px !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}