AddType application/wasm .wasm
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

# Enable the mod_headers module
<IfModule mod_headers.c>
  <FilesMatch "\.(gif|jpe?g?|png|bmp|swf|css|js|svg|mp3|ogg|wasm|wav|pdf|ico|txt)$">
    Header always set Access-Control-Allow-Origin "*"
    Header always set Access-Control-Allow-Methods "GET, POST, OPTIONS, PUT, DELETE"
    Header always set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept, API-Key, Authorization"
  </FilesMatch>
</IfModule>
